<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${time} [${threadid}] ${level}: ${message}"/>
      <target name="file" xsi:type="File" fileName="${processname}.log" layout="${time} [${threadid}] ${level}: ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console"/>
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="MasterAddress" value="127.0.0.1"/>
    <add key="MasterPort" value="2011"/>
    <add key="LocalAddress" value="127.0.0.1"/>
    <add key="LocalPort" value="2012"/>
    <add key="SlotsCount" value="4"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
