<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" 
              layout="${time} ${level}: ${message}" />
      <target name="file" xsi:type="File" fileName="${processname}.log"
              layout="${time} ${level}: ${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <appSettings>
    <add key="Port" value="2011"/>
    <add key="SlotsCount" value="2"/>
  </appSettings>
</configuration>